
{% extends 'layout.html' %}
{% load static %}
{% block content %}

<body style="background: url(img/fondo3.jpg); background-size: auto; background-repeat: repeat;">
    <br>
    <br>
    <div class="nosotros">
        <div class="table-responsive">
            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido Paterno</th>
                        <th>Apellido Materno</th>
                        <th>Correo</th>
                        <th>Seccion</th>
                        <th>Cargo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Tamara</td>
                        <td>Rivas</td>
                        <td>Lagos</td>
                        <td>tam.rivas@duocuc.cl</td>
                        <td>005V</td>
                        <td>Presidenta</td>

                    </tr>
                    <tr>
                        <td>venecia</td>
                        <td>gonzalez</td>
                        <td>........</td>
                        <td>venecia@duocuc.cl</td>
                        <td>005V</td>
                        <td>Vice-Presidente</td>

                    </tr>
                    <tr>
                        <td>Isadora</td>
                        <td>Henriquez</td>
                        <td>Gonzalez</td>
                        <td>is.henriquez@duocuc.cl</td>
                        <td>005V</td>
                        <td>Vice-Presidenta</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>


</body>

{% endblock %}